In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


from sklearn.tree import export_graphviz
%matplotlib inline

In [2]:
climate = pd.read_csv('C://Users//Sonal S//Downloads//temps.csv')
climate

     year  month  day   week  temp_2  temp_1  average  actual  friend
0    2019      1    1    Fri      45      45     45.6      45      29
1    2019      1    2    Sat      44      45     45.7      44      61
2    2019      1    3    Sun      45      44     45.8      41      56
3    2019      1    4    Mon      44      41     45.9      40      53
4    2019      1    5   Tues      41      40     46.0      44      41
..    ...    ...  ...    ...     ...     ...      ...     ...     ...
343  2019     12   27   Tues      42      42     45.2      47      47
344  2019     12   28    Wed      42      47     45.3      48      58
345  2019     12   29  Thurs      47      48     45.3      48      65
346  2019     12   30    Fri      48      48     45.4      57      42
347  2019     12   31    Sat      48      57     45.5      40      57

[348 rows x 9 columns]

In [3]:
climate.head(5)

   year  month  day  week  temp_2  temp_1  average  actual  friend
0  2019      1    1   Fri      45      45     45.6      45      29
1  2019      1    2   Sat      44      45     45.7      44      61
2  2019      1    3   Sun      45      44     45.8      41      56
3  2019      1    4   Mon      44      41     45.9      40      53
4  2019      1    5  Tues      41      40     46.0      44      41

In [4]:
climate.shape

(348, 9)

In [5]:
climate.columns

Index(['year', 'month', 'day', 'week', 'temp_2', 'temp_1', 'average', 'actual',
       'friend'],
      dtype='object')

In [6]:
climate.isnull().sum()

year       0
month      0
day        0
week       0
temp_2     0
temp_1     0
average    0
actual     0
friend     0
dtype: int64

In [7]:
##One hot coding for representation of categorical data to be more expressive
climate= pd.get_dummies(climate)
climate.head(5)

,year,month,day,temp_2,temp_1,average,actual,friend,week_Fri,week_Mon,week_Sat,week_Sun,week_Thurs,week_Tues,week_Wed
0,2019,1,1,45,45,45.6,45,29,1,0,0,0,0,0,0
1,2019,1,2,44,45,45.7,44,61,0,0,1,0,0,0,0
2,2019,1,3,45,44,45.8,41,56,0,0,0,1,0,0,0
3,2019,1,4,44,41,45.9,40,53,0,1,0,0,0,0,0
4,2019,1,5,41,40,46.0,44,41,0,0,0,0,0,1,0

In [8]:
print('Shape of features after one-hot encoding:', climate.shape)

Shape of features after one-hot encoding: (348, 15)

In [9]:
#labels are the values we want to predict
labels=climate['actual']


#Remove the labels from the features
climate=climate.drop('actual', axis=1)

#Saving feature names for later use
feature_list=list(climate.columns)

In [10]:
##Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

#Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(climate, labels, test_size = 0.20,
                                                                        
                                                                            
random_state = 42)

In [11]:
print('Training features shape:', train_features.shape)
print('Training label shape:', train_labels.shape)
print('Testing features shape:', test_features.shape)
print('Testing labels shape:', test_labels.shape)

Training features shape: (278, 14)
Training label shape: (278,)
Testing features shape: (70, 14)
Testing labels shape: (70,)

In [12]:
#import the model we are using
from sklearn.ensemble import RandomForestRegressor

#instantiate model
rf= RandomForestRegressor(n_estimators=1000, random_state=42)

#Train the model on Training data
rf.fit(train_features, train_labels);

In [13]:
##Use forest's predict method on the test data
predictions = rf.predict(test_features)

##Calculate the absolute errors
errors= abs(predictions - test_labels)

##Print out the mean absolute error(mae)
print('Mean Absolute Error:', round(np.mean(errors), 2), 'degrees.')

Mean Absolute Error: 3.78 degrees.

In [14]:
##Calculate mean absolute percentage error(Mape)

Mape = 100*(errors/test_labels)


##Calculate the display accuracy
accuracy=100-np.mean(Mape)
print('Accuracy:', round(accuracy, 2), '%.')

Accuracy: 94.02 %.

In [24]:
print('The depth of this tree is:', tree.tree_.max_depth)

The depth of this tree is: 13